<div class="wrapper-grey">
  <div class="container">
    <br><h2 class="text-center">Your Trips</h2> <br>
    <div class="col-xs-12 row">
      <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-md-4  card-booking-wrapper">
        <%= link_to boat_path(booking.boat) do %>
        <%= render "card_booking", booking: booking %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div
</div>



