#results-column {
  padding-top: 20px;
  display: flex;
  position: fixed;
  top: 70px;
  bottom: 75px;
  left: 0;
  justify-content: space-around;
  overflow-y: scroll;
  height: calc(100vh - 70px - 75px);
}

#results-map {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 75px;
  overflow: hidden;
  height: calc(100vh - 70px - 75px);
  padding: 0;
}

.container-content {
  min-height: 73vh;
}
