<h1>My boats</h1>

<hr/>

<div class="col-xs-12 row">
  <% @host_boats.each do |boat| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render "card", partial_boat: boat %>
    </div>
  <% end %>
</div>
