<h1>My boats</h1>
<a href="/host/boats/new" class= btn btn-primary><i class="fa fa-plus" aria-hidden="true"></i> Add Boat </a>

<hr id=line_break />



<div class="col-xs-12 row">
  <% @host_boats.each do |boat| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render "card", partial_boat: boat %>
    </div>
  <% end %>
</div>
