<div class="row" id="results-wrapper">
  <div class="col-xs-8 results-display" id="results-column">
    <%= render "results" %>
  </div>

  <div class="col-xs-4 results-display" id="results-map">

  </div>
</div>
