<h1>Boats#show</h1>
<p>Find me in app/views/boats/show.html.erb</p>

<h1><%= @boat.name %></h1>
<% @boat.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
